
      .not_found {
        font-family: sans-serif;
        color: #FFF;
        text-align: center;
        font-size: 150%;
      }
      .not_found h1, h2 { font-weight: normal; }
      .not_found h1 { margin: 0 auto; padding: 0.15em; font-size: 10em; text-shadow: 0 2px 2px #000; }
      .not_found h2 { margin-bottom: 2em; }

      