
.main-content{
  margin-top : 4rem;
  padding: 2rem 4rem;
  height: 25rem ;
  display: flex;
  justify-content: center;
}
@font-face{
  font-family: 'Font-Retro';
  src: url('../src/Assets/fonts/RetroElectro/RetroElectro.ttf')
}

@font-face {
  font-family: 'Font-Inconsolata-Medium';
  src: url('../src/Assets/fonts/Inconsolata/static/Inconsolata-Medium.ttf')
}